.book-list {
  width: 300px;
  height: 275px;
  overflow: scroll;
}

.book-list-item * {
  font-weight: 400;
}

.book-list-item:hover * {
  font-weight: bold;
  cursor: pointer;
}

.related-film-list {
  width: 250px;
  height: 75px;
  overflow: scroll;
}
.related-film:hover {
  font-weight: bold;
  cursor: pointer;
}
